.dashboardApp {
    width: 102.4rem;
    margin: 3rem auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

.dashboardTitle {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.dashboardBoxes {
    display: flex;
    justify-content: space-between;
}

.dashboardFilters {
    display: flex;
    gap: 1rem;
}

.dashboardPendentTasks,
.dashboardConcludedTasks {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}