.taskBox {
    display: flex;
    gap: 1.5rem;
    width: 100%;
    padding: 2rem;
    border-radius: 1.2rem;

    background-color: var(--white);
    border: 1px solid var(--border-gray);

    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: translateY(-1.5px);

        box-shadow:
            0 4px 8px rgba(0, 0, 0, 0.04),
            0 12px 24px rgba(0, 0, 0, 0.08);
    }
}

.taskBox:hover .editDetails {
    opacity: 1;
    visibility: visible;
}

.taskBox.completed {
    opacity: 0.8;
}

.checkButton {
    width: 2.5rem;
    height: 2.5rem;

    border-radius: 50%;

    border: 2px solid var(--border-gray);
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: all 0.2s ease;
}

.checkButton:hover {
    border-color: var(--standard-green);
}

.checkButton.completed {
    background: var(--standard-green);
    border-color: var(--standard-green);

    color: white;
}

.completedTitle {
    text-decoration: line-through;

    color: #94a3b8;
}

.taskBoxContent {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    width: 100%;
}

.editDetails {
    display: flex;
    gap: 1.5rem;

    opacity: 0; 
    visibility: hidden; 
    transition: opacity .3s ease, visibility .3s ease;
}

.taskBoxDetails {
    display: flex;
    justify-content: space-between;
}

.taskActionBtn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.9);
    }
} 

.btnBlock {
    color: var(--black);
}

.btnDelete {
    color: var(--blocked-red);
}

.taskBoxTags {
    display: flex;
    gap: .8rem;
    flex-wrap: wrap;

    margin-top: .4rem;
}